<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>feels</key>
	<array>
		<dict>
			<key>emoticon</key>
			<string>(´°̥̥̥̥̥̥̥̥ω°̥̥̥̥̥̥̥̥｀)</string>
			<key>label</key>
			<string>crying out loud with tears</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>╥﹏╥</string>
			<key>label</key>
			<string>angry view</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(っ˘̩╭╮˘̩)っ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>o͡͡͡͡͡͡͡͡͡͡͡͡͡͡╮(^ ਊ ^)╭o͡͡͡͡͡͡͡͡͡͡͡͡͡͡</string>
			<key>label</key>
			<string>pancakes!</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(( ༎ຶ‿༎ຶ ))</string>
			<key>label</key>
			<string>crying smiling</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>┐(‘～`;)┌</string>
			<key>label</key>
			<string>meh</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>| ू･᷄ω･᷅)｡oOஇo｡</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(⊹◕ʖ̯◕)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ヾﾉ•᷅ ༬•᷄ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>/( .□.) ︵╰(゜益゜)╯︵ /(.□. /)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(૭ ◉༬◉)૭⁾⁾⁾⁾</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(#ﾟДﾟ)ﾉ┌┛</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ˁ⁽͑˙˚̀ˆ̇˚́˙⁾̉ˀ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>((╬ಠิ﹏ಠิ))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽⁽(੭ꐦ •̀Д•́ )੭*⁾⁾ ᑦᵒᔿᵉ ᵒᐢᵎᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ｍ（．＿．）ｍ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>&lt;(￢0￢)&gt;</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>_/＼●_</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(￣^￣ﾒ)＼(_ _ ;)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ʕ •́؈•̀ ₎</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ต( ິᵒ̴̶̷̤ ﻌ ᵒ̴̶̷̤ )ິ ♬</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ʕ·͡ᴥ·ʔ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(੭ ◕㉨◕)੭ =͟͟͞͞=͟͟͞͞三❆)’дº);,’:=͟͟͞͞</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>✧ʕ̢̣̣̣̣̩̩̩̩·͡˔·ོɁ̡̣̣̣̣̩̩̩̩✧</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>˱(ْ۬ ˂̵ْ۬ )˲</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ʾ̌ˆʿ̌)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>〜(꒪꒳꒪)〜</string>
			<key>label</key>
			<string>jake dance</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>♪(((#^-^)八(^_^*)))♪</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(꒪ω꒪υ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ヾﾉ•᷅ ༬•᷄ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>/( .□.) ︵╰(゜益゜)╯︵ /(.□. /)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(૭ ◉༬◉)૭⁾⁾⁾⁾</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(#ﾟДﾟ)ﾉ┌┛</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ˁ⁽͑˙˚̀ˆ̇˚́˙⁾̉ˀ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>((╬ಠิ﹏ಠิ))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽⁽(੭ꐦ •̀Д•́ )੭*⁾⁾ ᑦᵒᔿᵉ ᵒᐢᵎᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ｍ（．＿．）ｍ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>&lt;(￢0￢)&gt;</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>_/＼●_</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(￣^￣ﾒ)＼(_ _ ;)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ʕ •́؈•̀ ₎</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ต( ິᵒ̴̶̷̤ ﻌ ᵒ̴̶̷̤ )ິ ♬</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ʕ·͡ᴥ·ʔ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(੭ ◕㉨◕)੭ =͟͟͞͞=͟͟͞͞三❆)’дº);,’:=͟͟͞͞</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>✧ʕ̢̣̣̣̣̩̩̩̩·͡˔·ོɁ̡̣̣̣̣̩̩̩̩✧</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>˱(ْ۬ ˂̵ْ۬ )˲</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ʾ̌ˆʿ̌)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>〜(꒪꒳꒪)〜</string>
			<key>label</key>
			<string>jake dance</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>♪(((#^-^)八(^_^*)))♪</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(꒪ω꒪υ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ヾﾉ•᷅ ༬•᷄ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>/( .□.) ︵╰(゜益゜)╯︵ /(.□. /)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(૭ ◉༬◉)૭⁾⁾⁾⁾</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(#ﾟДﾟ)ﾉ┌┛</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ˁ⁽͑˙˚̀ˆ̇˚́˙⁾̉ˀ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>((╬ಠิ﹏ಠิ))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽⁽(੭ꐦ •̀Д•́ )੭*⁾⁾ ᑦᵒᔿᵉ ᵒᐢᵎᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ｍ（．＿．）ｍ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>&lt;(￢0￢)&gt;</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>_/＼●_</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(￣^￣ﾒ)＼(_ _ ;)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ʕ •́؈•̀ ₎</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ต( ິᵒ̴̶̷̤ ﻌ ᵒ̴̶̷̤ )ິ ♬</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ʕ·͡ᴥ·ʔ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(੭ ◕㉨◕)੭ =͟͟͞͞=͟͟͞͞三❆)’дº);,’:=͟͟͞͞</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>✧ʕ̢̣̣̣̣̩̩̩̩·͡˔·ོɁ̡̣̣̣̣̩̩̩̩✧</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>˱(ْ۬ ˂̵ْ۬ )˲</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ʾ̌ˆʿ̌)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>〜(꒪꒳꒪)〜</string>
			<key>label</key>
			<string>jake dance</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>♪(((#^-^)八(^_^*)))♪</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(꒪ω꒪υ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ヾﾉ•᷅ ༬•᷄ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>/( .□.) ︵╰(゜益゜)╯︵ /(.□. /)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(૭ ◉༬◉)૭⁾⁾⁾⁾</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(#ﾟДﾟ)ﾉ┌┛</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ˁ⁽͑˙˚̀ˆ̇˚́˙⁾̉ˀ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>((╬ಠิ﹏ಠิ))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽⁽(੭ꐦ •̀Д•́ )੭*⁾⁾ ᑦᵒᔿᵉ ᵒᐢᵎᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ｍ（．＿．）ｍ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>&lt;(￢0￢)&gt;</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>_/＼●_</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(￣^￣ﾒ)＼(_ _ ;)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ʕ •́؈•̀ ₎</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ต( ິᵒ̴̶̷̤ ﻌ ᵒ̴̶̷̤ )ິ ♬</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ʕ·͡ᴥ·ʔ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(੭ ◕㉨◕)੭ =͟͟͞͞=͟͟͞͞三❆)’дº);,’:=͟͟͞͞</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>✧ʕ̢̣̣̣̣̩̩̩̩·͡˔·ོɁ̡̣̣̣̣̩̩̩̩✧</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>˱(ْ۬ ˂̵ْ۬ )˲</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ʾ̌ˆʿ̌)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>〜(꒪꒳꒪)〜</string>
			<key>label</key>
			<string>jake dance</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>♪(((#^-^)八(^_^*)))♪</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(꒪ω꒪υ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ヾﾉ•᷅ ༬•᷄ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>/( .□.) ︵╰(゜益゜)╯︵ /(.□. /)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(૭ ◉༬◉)૭⁾⁾⁾⁾</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(#ﾟДﾟ)ﾉ┌┛</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ˁ⁽͑˙˚̀ˆ̇˚́˙⁾̉ˀ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>((╬ಠิ﹏ಠิ))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽⁽(੭ꐦ •̀Д•́ )੭*⁾⁾ ᑦᵒᔿᵉ ᵒᐢᵎᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ｍ（．＿．）ｍ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>&lt;(￢0￢)&gt;</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>_/＼●_</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(￣^￣ﾒ)＼(_ _ ;)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ʕ •́؈•̀ ₎</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ต( ິᵒ̴̶̷̤ ﻌ ᵒ̴̶̷̤ )ິ ♬</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ʕ·͡ᴥ·ʔ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(੭ ◕㉨◕)੭ =͟͟͞͞=͟͟͞͞三❆)’дº);,’:=͟͟͞͞</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>✧ʕ̢̣̣̣̣̩̩̩̩·͡˔·ོɁ̡̣̣̣̣̩̩̩̩✧</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>˱(ْ۬ ˂̵ْ۬ )˲</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ʾ̌ˆʿ̌)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>〜(꒪꒳꒪)〜</string>
			<key>label</key>
			<string>jake dance</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>♪(((#^-^)八(^_^*)))♪</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(꒪ω꒪υ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ヾﾉ•᷅ ༬•᷄ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>/( .□.) ︵╰(゜益゜)╯︵ /(.□. /)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(૭ ◉༬◉)૭⁾⁾⁾⁾</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(#ﾟДﾟ)ﾉ┌┛</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ˁ⁽͑˙˚̀ˆ̇˚́˙⁾̉ˀ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>((╬ಠิ﹏ಠิ))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽⁽(੭ꐦ •̀Д•́ )੭*⁾⁾ ᑦᵒᔿᵉ ᵒᐢᵎᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ｍ（．＿．）ｍ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>&lt;(￢0￢)&gt;</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>_/＼●_</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(￣^￣ﾒ)＼(_ _ ;)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ʕ •́؈•̀ ₎</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ต( ິᵒ̴̶̷̤ ﻌ ᵒ̴̶̷̤ )ິ ♬</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ʕ·͡ᴥ·ʔ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(੭ ◕㉨◕)੭ =͟͟͞͞=͟͟͞͞三❆)’дº);,’:=͟͟͞͞</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>✧ʕ̢̣̣̣̣̩̩̩̩·͡˔·ོɁ̡̣̣̣̣̩̩̩̩✧</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>˱(ْ۬ ˂̵ْ۬ )˲</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ʾ̌ˆʿ̌)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>〜(꒪꒳꒪)〜</string>
			<key>label</key>
			<string>jake dance</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>♪(((#^-^)八(^_^*)))♪</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(꒪ω꒪υ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ヾﾉ•᷅ ༬•᷄ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>/( .□.) ︵╰(゜益゜)╯︵ /(.□. /)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(૭ ◉༬◉)૭⁾⁾⁾⁾</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(#ﾟДﾟ)ﾉ┌┛</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ˁ⁽͑˙˚̀ˆ̇˚́˙⁾̉ˀ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>((╬ಠิ﹏ಠิ))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽⁽(੭ꐦ •̀Д•́ )੭*⁾⁾ ᑦᵒᔿᵉ ᵒᐢᵎᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ｍ（．＿．）ｍ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>&lt;(￢0￢)&gt;</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>_/＼●_</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(￣^￣ﾒ)＼(_ _ ;)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ʕ •́؈•̀ ₎</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ต( ິᵒ̴̶̷̤ ﻌ ᵒ̴̶̷̤ )ິ ♬</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ʕ·͡ᴥ·ʔ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(੭ ◕㉨◕)੭ =͟͟͞͞=͟͟͞͞三❆)’дº);,’:=͟͟͞͞</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>✧ʕ̢̣̣̣̣̩̩̩̩·͡˔·ོɁ̡̣̣̣̣̩̩̩̩✧</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>˱(ْ۬ ˂̵ْ۬ )˲</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ʾ̌ˆʿ̌)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>〜(꒪꒳꒪)〜</string>
			<key>label</key>
			<string>jake dance</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>♪(((#^-^)八(^_^*)))♪</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(꒪ω꒪υ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ヾﾉ•᷅ ༬•᷄ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>/( .□.) ︵╰(゜益゜)╯︵ /(.□. /)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(૭ ◉༬◉)૭⁾⁾⁾⁾</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(#ﾟДﾟ)ﾉ┌┛</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ˁ⁽͑˙˚̀ˆ̇˚́˙⁾̉ˀ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>((╬ಠิ﹏ಠิ))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽⁽(੭ꐦ •̀Д•́ )੭*⁾⁾ ᑦᵒᔿᵉ ᵒᐢᵎᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ｍ（．＿．）ｍ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>&lt;(￢0￢)&gt;</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>_/＼●_</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(￣^￣ﾒ)＼(_ _ ;)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ʕ •́؈•̀ ₎</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ต( ິᵒ̴̶̷̤ ﻌ ᵒ̴̶̷̤ )ິ ♬</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ʕ·͡ᴥ·ʔ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(੭ ◕㉨◕)੭ =͟͟͞͞=͟͟͞͞三❆)’дº);,’:=͟͟͞͞</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>✧ʕ̢̣̣̣̣̩̩̩̩·͡˔·ོɁ̡̣̣̣̣̩̩̩̩✧</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>˱(ْ۬ ˂̵ْ۬ )˲</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ʾ̌ˆʿ̌)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>〜(꒪꒳꒪)〜</string>
			<key>label</key>
			<string>jake dance</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>♪(((#^-^)八(^_^*)))♪</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(꒪ω꒪υ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ヾﾉ•᷅ ༬•᷄ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>/( .□.) ︵╰(゜益゜)╯︵ /(.□. /)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(૭ ◉༬◉)૭⁾⁾⁾⁾</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(#ﾟДﾟ)ﾉ┌┛</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ˁ⁽͑˙˚̀ˆ̇˚́˙⁾̉ˀ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>((╬ಠิ﹏ಠิ))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽⁽(੭ꐦ •̀Д•́ )੭*⁾⁾ ᑦᵒᔿᵉ ᵒᐢᵎᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ｍ（．＿．）ｍ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>&lt;(￢0￢)&gt;</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>_/＼●_</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(￣^￣ﾒ)＼(_ _ ;)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ʕ •́؈•̀ ₎</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ต( ິᵒ̴̶̷̤ ﻌ ᵒ̴̶̷̤ )ິ ♬</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ʕ·͡ᴥ·ʔ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(੭ ◕㉨◕)੭ =͟͟͞͞=͟͟͞͞三❆)’дº);,’:=͟͟͞͞</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>✧ʕ̢̣̣̣̣̩̩̩̩·͡˔·ོɁ̡̣̣̣̣̩̩̩̩✧</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>˱(ْ۬ ˂̵ْ۬ )˲</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ʾ̌ˆʿ̌)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>〜(꒪꒳꒪)〜</string>
			<key>label</key>
			<string>jake dance</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>♪(((#^-^)八(^_^*)))♪</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(꒪ω꒪υ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ヾﾉ•᷅ ༬•᷄ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>/( .□.) ︵╰(゜益゜)╯︵ /(.□. /)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(૭ ◉༬◉)૭⁾⁾⁾⁾</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(#ﾟДﾟ)ﾉ┌┛</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ˁ⁽͑˙˚̀ˆ̇˚́˙⁾̉ˀ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>((╬ಠิ﹏ಠิ))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽⁽(੭ꐦ •̀Д•́ )੭*⁾⁾ ᑦᵒᔿᵉ ᵒᐢᵎᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ｍ（．＿．）ｍ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>&lt;(￢0￢)&gt;</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>_/＼●_</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(￣^￣ﾒ)＼(_ _ ;)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ʕ •́؈•̀ ₎</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ต( ິᵒ̴̶̷̤ ﻌ ᵒ̴̶̷̤ )ິ ♬</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ʕ·͡ᴥ·ʔ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(੭ ◕㉨◕)੭ =͟͟͞͞=͟͟͞͞三❆)’дº);,’:=͟͟͞͞</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>✧ʕ̢̣̣̣̣̩̩̩̩·͡˔·ོɁ̡̣̣̣̣̩̩̩̩✧</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>˱(ْ۬ ˂̵ْ۬ )˲</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ʾ̌ˆʿ̌)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>〜(꒪꒳꒪)〜</string>
			<key>label</key>
			<string>jake dance</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>♪(((#^-^)八(^_^*)))♪</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(꒪ω꒪υ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ヾﾉ•᷅ ༬•᷄ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>/( .□.) ︵╰(゜益゜)╯︵ /(.□. /)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(૭ ◉༬◉)૭⁾⁾⁾⁾</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(#ﾟДﾟ)ﾉ┌┛</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ˁ⁽͑˙˚̀ˆ̇˚́˙⁾̉ˀ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>((╬ಠิ﹏ಠิ))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽⁽(੭ꐦ •̀Д•́ )੭*⁾⁾ ᑦᵒᔿᵉ ᵒᐢᵎᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ｍ（．＿．）ｍ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>&lt;(￢0￢)&gt;</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>_/＼●_</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(￣^￣ﾒ)＼(_ _ ;)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ʕ •́؈•̀ ₎</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ต( ິᵒ̴̶̷̤ ﻌ ᵒ̴̶̷̤ )ິ ♬</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ʕ·͡ᴥ·ʔ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(੭ ◕㉨◕)੭ =͟͟͞͞=͟͟͞͞三❆)’дº);,’:=͟͟͞͞</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>✧ʕ̢̣̣̣̣̩̩̩̩·͡˔·ོɁ̡̣̣̣̣̩̩̩̩✧</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>˱(ْ۬ ˂̵ْ۬ )˲</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ʾ̌ˆʿ̌)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>〜(꒪꒳꒪)〜</string>
			<key>label</key>
			<string>jake dance</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>♪(((#^-^)八(^_^*)))♪</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(꒪ω꒪υ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ヾﾉ•᷅ ༬•᷄ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>/( .□.) ︵╰(゜益゜)╯︵ /(.□. /)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(૭ ◉༬◉)૭⁾⁾⁾⁾</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(#ﾟДﾟ)ﾉ┌┛</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ˁ⁽͑˙˚̀ˆ̇˚́˙⁾̉ˀ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>((╬ಠิ﹏ಠิ))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽⁽(੭ꐦ •̀Д•́ )੭*⁾⁾ ᑦᵒᔿᵉ ᵒᐢᵎᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ｍ（．＿．）ｍ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>&lt;(￢0￢)&gt;</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>_/＼●_</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(￣^￣ﾒ)＼(_ _ ;)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ʕ •́؈•̀ ₎</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ต( ິᵒ̴̶̷̤ ﻌ ᵒ̴̶̷̤ )ິ ♬</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ʕ·͡ᴥ·ʔ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(੭ ◕㉨◕)੭ =͟͟͞͞=͟͟͞͞三❆)’дº);,’:=͟͟͞͞</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>✧ʕ̢̣̣̣̣̩̩̩̩·͡˔·ོɁ̡̣̣̣̣̩̩̩̩✧</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>˱(ْ۬ ˂̵ْ۬ )˲</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ʾ̌ˆʿ̌)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>〜(꒪꒳꒪)〜</string>
			<key>label</key>
			<string>jake dance</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>♪(((#^-^)八(^_^*)))♪</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(꒪ω꒪υ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ヾﾉ•᷅ ༬•᷄ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>/( .□.) ︵╰(゜益゜)╯︵ /(.□. /)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(૭ ◉༬◉)૭⁾⁾⁾⁾</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(#ﾟДﾟ)ﾉ┌┛</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ˁ⁽͑˙˚̀ˆ̇˚́˙⁾̉ˀ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>((╬ಠิ﹏ಠิ))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽⁽(੭ꐦ •̀Д•́ )੭*⁾⁾ ᑦᵒᔿᵉ ᵒᐢᵎᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ｍ（．＿．）ｍ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>&lt;(￢0￢)&gt;</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>_/＼●_</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(￣^￣ﾒ)＼(_ _ ;)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ʕ •́؈•̀ ₎</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ต( ິᵒ̴̶̷̤ ﻌ ᵒ̴̶̷̤ )ິ ♬</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ʕ·͡ᴥ·ʔ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(੭ ◕㉨◕)੭ =͟͟͞͞=͟͟͞͞三❆)’дº);,’:=͟͟͞͞</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>✧ʕ̢̣̣̣̣̩̩̩̩·͡˔·ོɁ̡̣̣̣̣̩̩̩̩✧</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>˱(ْ۬ ˂̵ْ۬ )˲</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ʾ̌ˆʿ̌)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>〜(꒪꒳꒪)〜</string>
			<key>label</key>
			<string>jake dance</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>♪(((#^-^)八(^_^*)))♪</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(꒪ω꒪υ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ヾﾉ•᷅ ༬•᷄ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>/( .□.) ︵╰(゜益゜)╯︵ /(.□. /)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(૭ ◉༬◉)૭⁾⁾⁾⁾</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(#ﾟДﾟ)ﾉ┌┛</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ˁ⁽͑˙˚̀ˆ̇˚́˙⁾̉ˀ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>((╬ಠิ﹏ಠิ))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽⁽(੭ꐦ •̀Д•́ )੭*⁾⁾ ᑦᵒᔿᵉ ᵒᐢᵎᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ｍ（．＿．）ｍ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>&lt;(￢0￢)&gt;</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>_/＼●_</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(￣^￣ﾒ)＼(_ _ ;)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ʕ •́؈•̀ ₎</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ต( ິᵒ̴̶̷̤ ﻌ ᵒ̴̶̷̤ )ິ ♬</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ʕ·͡ᴥ·ʔ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(੭ ◕㉨◕)੭ =͟͟͞͞=͟͟͞͞三❆)’дº);,’:=͟͟͞͞</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>✧ʕ̢̣̣̣̣̩̩̩̩·͡˔·ོɁ̡̣̣̣̣̩̩̩̩✧</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>˱(ْ۬ ˂̵ْ۬ )˲</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ʾ̌ˆʿ̌)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>〜(꒪꒳꒪)〜</string>
			<key>label</key>
			<string>jake dance</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>♪(((#^-^)八(^_^*)))♪</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(꒪ω꒪υ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ヾﾉ•᷅ ༬•᷄ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>/( .□.) ︵╰(゜益゜)╯︵ /(.□. /)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(૭ ◉༬◉)૭⁾⁾⁾⁾</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(#ﾟДﾟ)ﾉ┌┛</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ˁ⁽͑˙˚̀ˆ̇˚́˙⁾̉ˀ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>((╬ಠิ﹏ಠิ))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽⁽(੭ꐦ •̀Д•́ )੭*⁾⁾ ᑦᵒᔿᵉ ᵒᐢᵎᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ｍ（．＿．）ｍ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>&lt;(￢0￢)&gt;</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>_/＼●_</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(￣^￣ﾒ)＼(_ _ ;)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ʕ •́؈•̀ ₎</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ต( ິᵒ̴̶̷̤ ﻌ ᵒ̴̶̷̤ )ິ ♬</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ʕ·͡ᴥ·ʔ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(੭ ◕㉨◕)੭ =͟͟͞͞=͟͟͞͞三❆)’дº);,’:=͟͟͞͞</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>✧ʕ̢̣̣̣̣̩̩̩̩·͡˔·ོɁ̡̣̣̣̣̩̩̩̩✧</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>˱(ْ۬ ˂̵ْ۬ )˲</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ʾ̌ˆʿ̌)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>〜(꒪꒳꒪)〜</string>
			<key>label</key>
			<string>jake dance</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>♪(((#^-^)八(^_^*)))♪</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(꒪ω꒪υ)</string>
		</dict>
	</array>
</dict>
</plist>
