<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>feels</key>
	<array>
		<dict>
			<key>emoticon</key>
			<string>(´°̥̥̥̥̥̥̥̥ω°̥̥̥̥̥̥̥̥｀)</string>
			<key>label</key>
			<string>crying out loud with tears</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヾ(・ω・*)ノ</string>
			<key>label</key>
			<string>hey</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(^o^)丿</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧( ˵ ° ~ ° ˵ )୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>( ˃̆ૢ௰˂̆ૢഃ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>癶(癶✺౪✺ )癶</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(´°̥̥̥̥̥̥̥̥ω°̥̥̥̥̥̥̥̥｀)</string>
			<key>label</key>
			<string>crying out loud with tears</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヾ(・ω・*)ノ</string>
			<key>label</key>
			<string>hey</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(^o^)丿</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧( ˵ ° ~ ° ˵ )୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>( ˃̆ૢ௰˂̆ૢഃ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>癶(癶✺౪✺ )癶</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>o͡͡͡͡͡͡͡͡͡͡͡͡͡͡╮(^ ਊ ^)╭o͡͡͡͡͡͡͡͡͡͡͡͡͡͡</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ﾉ･ｪ･)ﾉ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(۶ꈨຶꎁꈨຶ )۶ʸᵉᵃʰᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(´ω｀○)ﾉ.+ﾟ*｡:ﾟ+</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ( ★ω★)ノ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(༶ૢ˃̵̑◡˂̵̑༶ૢ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(⁼̴̀ૢ꒳​⁼̴́ૢ๑)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>σ((=ﾟｴﾟ=))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(´°̥̥̥̥̥̥̥̥ω°̥̥̥̥̥̥̥̥｀)</string>
			<key>label</key>
			<string>crying out loud with tears</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヾ(・ω・*)ノ</string>
			<key>label</key>
			<string>hey</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(^o^)丿</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧( ˵ ° ~ ° ˵ )୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>( ˃̆ૢ௰˂̆ૢഃ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>癶(癶✺౪✺ )癶</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>o͡͡͡͡͡͡͡͡͡͡͡͡͡͡╮(^ ਊ ^)╭o͡͡͡͡͡͡͡͡͡͡͡͡͡͡</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ﾉ･ｪ･)ﾉ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(۶ꈨຶꎁꈨຶ )۶ʸᵉᵃʰᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(´ω｀○)ﾉ.+ﾟ*｡:ﾟ+</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ( ★ω★)ノ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(༶ૢ˃̵̑◡˂̵̑༶ૢ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(⁼̴̀ૢ꒳​⁼̴́ૢ๑)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>σ((=ﾟｴﾟ=))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(´°̥̥̥̥̥̥̥̥ω°̥̥̥̥̥̥̥̥｀)</string>
			<key>label</key>
			<string>crying out loud with tears</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヾ(・ω・*)ノ</string>
			<key>label</key>
			<string>hey</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(^o^)丿</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧( ˵ ° ~ ° ˵ )୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>( ˃̆ૢ௰˂̆ૢഃ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>癶(癶✺౪✺ )癶</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>o͡͡͡͡͡͡͡͡͡͡͡͡͡͡╮(^ ਊ ^)╭o͡͡͡͡͡͡͡͡͡͡͡͡͡͡</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ﾉ･ｪ･)ﾉ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(۶ꈨຶꎁꈨຶ )۶ʸᵉᵃʰᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(´ω｀○)ﾉ.+ﾟ*｡:ﾟ+</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ( ★ω★)ノ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(༶ૢ˃̵̑◡˂̵̑༶ૢ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(⁼̴̀ૢ꒳​⁼̴́ૢ๑)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>σ((=ﾟｴﾟ=))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(´°̥̥̥̥̥̥̥̥ω°̥̥̥̥̥̥̥̥｀)</string>
			<key>label</key>
			<string>crying out loud with tears</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヾ(・ω・*)ノ</string>
			<key>label</key>
			<string>hey</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(^o^)丿</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧( ˵ ° ~ ° ˵ )୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>( ˃̆ૢ௰˂̆ૢഃ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>癶(癶✺౪✺ )癶</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>o͡͡͡͡͡͡͡͡͡͡͡͡͡͡╮(^ ਊ ^)╭o͡͡͡͡͡͡͡͡͡͡͡͡͡͡</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ﾉ･ｪ･)ﾉ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(۶ꈨຶꎁꈨຶ )۶ʸᵉᵃʰᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(´ω｀○)ﾉ.+ﾟ*｡:ﾟ+</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ( ★ω★)ノ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(༶ૢ˃̵̑◡˂̵̑༶ૢ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(⁼̴̀ૢ꒳​⁼̴́ૢ๑)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>σ((=ﾟｴﾟ=))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(´°̥̥̥̥̥̥̥̥ω°̥̥̥̥̥̥̥̥｀)</string>
			<key>label</key>
			<string>crying out loud with tears</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヾ(・ω・*)ノ</string>
			<key>label</key>
			<string>hey</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(^o^)丿</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧( ˵ ° ~ ° ˵ )୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>( ˃̆ૢ௰˂̆ૢഃ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>癶(癶✺౪✺ )癶</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>o͡͡͡͡͡͡͡͡͡͡͡͡͡͡╮(^ ਊ ^)╭o͡͡͡͡͡͡͡͡͡͡͡͡͡͡</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ﾉ･ｪ･)ﾉ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(۶ꈨຶꎁꈨຶ )۶ʸᵉᵃʰᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(´ω｀○)ﾉ.+ﾟ*｡:ﾟ+</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ( ★ω★)ノ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(༶ૢ˃̵̑◡˂̵̑༶ૢ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(⁼̴̀ૢ꒳​⁼̴́ૢ๑)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>σ((=ﾟｴﾟ=))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(´°̥̥̥̥̥̥̥̥ω°̥̥̥̥̥̥̥̥｀)</string>
			<key>label</key>
			<string>crying out loud with tears</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヾ(・ω・*)ノ</string>
			<key>label</key>
			<string>hey</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(^o^)丿</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧( ˵ ° ~ ° ˵ )୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>( ˃̆ૢ௰˂̆ૢഃ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>癶(癶✺౪✺ )癶</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>o͡͡͡͡͡͡͡͡͡͡͡͡͡͡╮(^ ਊ ^)╭o͡͡͡͡͡͡͡͡͡͡͡͡͡͡</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ﾉ･ｪ･)ﾉ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(۶ꈨຶꎁꈨຶ )۶ʸᵉᵃʰᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(´ω｀○)ﾉ.+ﾟ*｡:ﾟ+</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ( ★ω★)ノ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(༶ૢ˃̵̑◡˂̵̑༶ૢ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(⁼̴̀ૢ꒳​⁼̴́ૢ๑)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>σ((=ﾟｴﾟ=))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(´°̥̥̥̥̥̥̥̥ω°̥̥̥̥̥̥̥̥｀)</string>
			<key>label</key>
			<string>crying out loud with tears</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヾ(・ω・*)ノ</string>
			<key>label</key>
			<string>hey</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(^o^)丿</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧( ˵ ° ~ ° ˵ )୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>( ˃̆ૢ௰˂̆ૢഃ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>癶(癶✺౪✺ )癶</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>o͡͡͡͡͡͡͡͡͡͡͡͡͡͡╮(^ ਊ ^)╭o͡͡͡͡͡͡͡͡͡͡͡͡͡͡</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ﾉ･ｪ･)ﾉ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(۶ꈨຶꎁꈨຶ )۶ʸᵉᵃʰᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(´ω｀○)ﾉ.+ﾟ*｡:ﾟ+</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ( ★ω★)ノ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(༶ૢ˃̵̑◡˂̵̑༶ૢ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(⁼̴̀ૢ꒳​⁼̴́ૢ๑)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>σ((=ﾟｴﾟ=))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(´°̥̥̥̥̥̥̥̥ω°̥̥̥̥̥̥̥̥｀)</string>
			<key>label</key>
			<string>crying out loud with tears</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヾ(・ω・*)ノ</string>
			<key>label</key>
			<string>hey</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(^o^)丿</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧( ˵ ° ~ ° ˵ )୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>( ˃̆ૢ௰˂̆ૢഃ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>癶(癶✺౪✺ )癶</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>o͡͡͡͡͡͡͡͡͡͡͡͡͡͡╮(^ ਊ ^)╭o͡͡͡͡͡͡͡͡͡͡͡͡͡͡</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ﾉ･ｪ･)ﾉ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(۶ꈨຶꎁꈨຶ )۶ʸᵉᵃʰᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(´ω｀○)ﾉ.+ﾟ*｡:ﾟ+</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ( ★ω★)ノ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(༶ૢ˃̵̑◡˂̵̑༶ૢ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(⁼̴̀ૢ꒳​⁼̴́ૢ๑)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>σ((=ﾟｴﾟ=))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(´°̥̥̥̥̥̥̥̥ω°̥̥̥̥̥̥̥̥｀)</string>
			<key>label</key>
			<string>crying out loud with tears</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヾ(・ω・*)ノ</string>
			<key>label</key>
			<string>hey</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(^o^)丿</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧( ˵ ° ~ ° ˵ )୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>( ˃̆ૢ௰˂̆ૢഃ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>癶(癶✺౪✺ )癶</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>o͡͡͡͡͡͡͡͡͡͡͡͡͡͡╮(^ ਊ ^)╭o͡͡͡͡͡͡͡͡͡͡͡͡͡͡</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ﾉ･ｪ･)ﾉ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(۶ꈨຶꎁꈨຶ )۶ʸᵉᵃʰᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(´ω｀○)ﾉ.+ﾟ*｡:ﾟ+</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ( ★ω★)ノ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(༶ૢ˃̵̑◡˂̵̑༶ૢ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(⁼̴̀ૢ꒳​⁼̴́ૢ๑)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>σ((=ﾟｴﾟ=))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>o͡͡͡͡͡͡͡͡͡͡͡͡͡͡╮(^ ਊ ^)╭o͡͡͡͡͡͡͡͡͡͡͡͡͡͡</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ﾉ･ｪ･)ﾉ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(۶ꈨຶꎁꈨຶ )۶ʸᵉᵃʰᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(´ω｀○)ﾉ.+ﾟ*｡:ﾟ+</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ( ★ω★)ノ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(༶ૢ˃̵̑◡˂̵̑༶ૢ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(⁼̴̀ૢ꒳​⁼̴́ૢ๑)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>σ((=ﾟｴﾟ=))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(´°̥̥̥̥̥̥̥̥ω°̥̥̥̥̥̥̥̥｀)</string>
			<key>label</key>
			<string>crying out loud with tears</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヾ(・ω・*)ノ</string>
			<key>label</key>
			<string>hey</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(^o^)丿</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧( ˵ ° ~ ° ˵ )୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>( ˃̆ૢ௰˂̆ૢഃ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>癶(癶✺౪✺ )癶</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>o͡͡͡͡͡͡͡͡͡͡͡͡͡͡╮(^ ਊ ^)╭o͡͡͡͡͡͡͡͡͡͡͡͡͡͡</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ﾉ･ｪ･)ﾉ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(۶ꈨຶꎁꈨຶ )۶ʸᵉᵃʰᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(´ω｀○)ﾉ.+ﾟ*｡:ﾟ+</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ( ★ω★)ノ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(༶ૢ˃̵̑◡˂̵̑༶ૢ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(⁼̴̀ૢ꒳​⁼̴́ૢ๑)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>σ((=ﾟｴﾟ=))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(´°̥̥̥̥̥̥̥̥ω°̥̥̥̥̥̥̥̥｀)</string>
			<key>label</key>
			<string>crying out loud with tears</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヾ(・ω・*)ノ</string>
			<key>label</key>
			<string>hey</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(^o^)丿</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧( ˵ ° ~ ° ˵ )୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>( ˃̆ૢ௰˂̆ૢഃ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>癶(癶✺౪✺ )癶</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>o͡͡͡͡͡͡͡͡͡͡͡͡͡͡╮(^ ਊ ^)╭o͡͡͡͡͡͡͡͡͡͡͡͡͡͡</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ﾉ･ｪ･)ﾉ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(۶ꈨຶꎁꈨຶ )۶ʸᵉᵃʰᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(´ω｀○)ﾉ.+ﾟ*｡:ﾟ+</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ( ★ω★)ノ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(༶ૢ˃̵̑◡˂̵̑༶ૢ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(⁼̴̀ૢ꒳​⁼̴́ૢ๑)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>σ((=ﾟｴﾟ=))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(´°̥̥̥̥̥̥̥̥ω°̥̥̥̥̥̥̥̥｀)</string>
			<key>label</key>
			<string>crying out loud with tears</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヾ(・ω・*)ノ</string>
			<key>label</key>
			<string>hey</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(^o^)丿</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧( ˵ ° ~ ° ˵ )୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>( ˃̆ૢ௰˂̆ૢഃ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>癶(癶✺౪✺ )癶</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>o͡͡͡͡͡͡͡͡͡͡͡͡͡͡╮(^ ਊ ^)╭o͡͡͡͡͡͡͡͡͡͡͡͡͡͡</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ﾉ･ｪ･)ﾉ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(۶ꈨຶꎁꈨຶ )۶ʸᵉᵃʰᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(´ω｀○)ﾉ.+ﾟ*｡:ﾟ+</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ( ★ω★)ノ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(༶ૢ˃̵̑◡˂̵̑༶ૢ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(⁼̴̀ૢ꒳​⁼̴́ૢ๑)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>σ((=ﾟｴﾟ=))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(´°̥̥̥̥̥̥̥̥ω°̥̥̥̥̥̥̥̥｀)</string>
			<key>label</key>
			<string>crying out loud with tears</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヾ(・ω・*)ノ</string>
			<key>label</key>
			<string>hey</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(^o^)丿</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧( ˵ ° ~ ° ˵ )୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>( ˃̆ૢ௰˂̆ૢഃ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>癶(癶✺౪✺ )癶</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>o͡͡͡͡͡͡͡͡͡͡͡͡͡͡╮(^ ਊ ^)╭o͡͡͡͡͡͡͡͡͡͡͡͡͡͡</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ﾉ･ｪ･)ﾉ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(۶ꈨຶꎁꈨຶ )۶ʸᵉᵃʰᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(´ω｀○)ﾉ.+ﾟ*｡:ﾟ+</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ( ★ω★)ノ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(༶ૢ˃̵̑◡˂̵̑༶ૢ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(⁼̴̀ૢ꒳​⁼̴́ૢ๑)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>σ((=ﾟｴﾟ=))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(´°̥̥̥̥̥̥̥̥ω°̥̥̥̥̥̥̥̥｀)</string>
			<key>label</key>
			<string>crying out loud with tears</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヾ(・ω・*)ノ</string>
			<key>label</key>
			<string>hey</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(^o^)丿</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧( ˵ ° ~ ° ˵ )୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>( ˃̆ૢ௰˂̆ૢഃ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>癶(癶✺౪✺ )癶</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>o͡͡͡͡͡͡͡͡͡͡͡͡͡͡╮(^ ਊ ^)╭o͡͡͡͡͡͡͡͡͡͡͡͡͡͡</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ﾉ･ｪ･)ﾉ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(۶ꈨຶꎁꈨຶ )۶ʸᵉᵃʰᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(´ω｀○)ﾉ.+ﾟ*｡:ﾟ+</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ( ★ω★)ノ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(༶ૢ˃̵̑◡˂̵̑༶ૢ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(⁼̴̀ૢ꒳​⁼̴́ૢ๑)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>σ((=ﾟｴﾟ=))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(´°̥̥̥̥̥̥̥̥ω°̥̥̥̥̥̥̥̥｀)</string>
			<key>label</key>
			<string>crying out loud with tears</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヾ(・ω・*)ノ</string>
			<key>label</key>
			<string>hey</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(^o^)丿</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧( ˵ ° ~ ° ˵ )୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>( ˃̆ૢ௰˂̆ૢഃ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>癶(癶✺౪✺ )癶</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>o͡͡͡͡͡͡͡͡͡͡͡͡͡͡╮(^ ਊ ^)╭o͡͡͡͡͡͡͡͡͡͡͡͡͡͡</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ﾉ･ｪ･)ﾉ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(۶ꈨຶꎁꈨຶ )۶ʸᵉᵃʰᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(´ω｀○)ﾉ.+ﾟ*｡:ﾟ+</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ( ★ω★)ノ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(༶ૢ˃̵̑◡˂̵̑༶ૢ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(⁼̴̀ૢ꒳​⁼̴́ૢ๑)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>σ((=ﾟｴﾟ=))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(´°̥̥̥̥̥̥̥̥ω°̥̥̥̥̥̥̥̥｀)</string>
			<key>label</key>
			<string>crying out loud with tears</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヾ(・ω・*)ノ</string>
			<key>label</key>
			<string>hey</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(^o^)丿</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧( ˵ ° ~ ° ˵ )୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>( ˃̆ૢ௰˂̆ૢഃ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>癶(癶✺౪✺ )癶</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>o͡͡͡͡͡͡͡͡͡͡͡͡͡͡╮(^ ਊ ^)╭o͡͡͡͡͡͡͡͡͡͡͡͡͡͡</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ﾉ･ｪ･)ﾉ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(۶ꈨຶꎁꈨຶ )۶ʸᵉᵃʰᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(´ω｀○)ﾉ.+ﾟ*｡:ﾟ+</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ( ★ω★)ノ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(༶ૢ˃̵̑◡˂̵̑༶ૢ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(⁼̴̀ૢ꒳​⁼̴́ૢ๑)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>σ((=ﾟｴﾟ=))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(´°̥̥̥̥̥̥̥̥ω°̥̥̥̥̥̥̥̥｀)</string>
			<key>label</key>
			<string>crying out loud with tears</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヾ(・ω・*)ノ</string>
			<key>label</key>
			<string>hey</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(^o^)丿</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧( ˵ ° ~ ° ˵ )୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>( ˃̆ૢ௰˂̆ૢഃ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>癶(癶✺౪✺ )癶</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>o͡͡͡͡͡͡͡͡͡͡͡͡͡͡╮(^ ਊ ^)╭o͡͡͡͡͡͡͡͡͡͡͡͡͡͡</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ﾉ･ｪ･)ﾉ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(۶ꈨຶꎁꈨຶ )۶ʸᵉᵃʰᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(´ω｀○)ﾉ.+ﾟ*｡:ﾟ+</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ( ★ω★)ノ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(༶ૢ˃̵̑◡˂̵̑༶ૢ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(⁼̴̀ૢ꒳​⁼̴́ૢ๑)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(༶ૢ˃̵̑◡˂̵̑༶ૢ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(⁼̴̀ૢ꒳​⁼̴́ૢ๑)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>σ((=ﾟｴﾟ=))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>o͡͡͡͡͡͡͡͡͡͡͡͡͡͡╮(^ ਊ ^)╭o͡͡͡͡͡͡͡͡͡͡͡͡͡͡</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ﾉ･ｪ･)ﾉ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(۶ꈨຶꎁꈨຶ )۶ʸᵉᵃʰᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(´ω｀○)ﾉ.+ﾟ*｡:ﾟ+</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ( ★ω★)ノ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(༶ૢ˃̵̑◡˂̵̑༶ૢ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(⁼̴̀ૢ꒳​⁼̴́ૢ๑)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>σ((=ﾟｴﾟ=))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(´°̥̥̥̥̥̥̥̥ω°̥̥̥̥̥̥̥̥｀)</string>
			<key>label</key>
			<string>crying out loud with tears</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヾ(・ω・*)ノ</string>
			<key>label</key>
			<string>hey</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(^o^)丿</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧( ˵ ° ~ ° ˵ )୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>( ˃̆ૢ௰˂̆ૢഃ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>癶(癶✺౪✺ )癶</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>o͡͡͡͡͡͡͡͡͡͡͡͡͡͡╮(^ ਊ ^)╭o͡͡͡͡͡͡͡͡͡͡͡͡͡͡</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ﾉ･ｪ･)ﾉ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(۶ꈨຶꎁꈨຶ )۶ʸᵉᵃʰᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(´ω｀○)ﾉ.+ﾟ*｡:ﾟ+</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ( ★ω★)ノ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(༶ૢ˃̵̑◡˂̵̑༶ૢ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(⁼̴̀ૢ꒳​⁼̴́ૢ๑)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>σ((=ﾟｴﾟ=))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(´°̥̥̥̥̥̥̥̥ω°̥̥̥̥̥̥̥̥｀)</string>
			<key>label</key>
			<string>crying out loud with tears</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヾ(・ω・*)ノ</string>
			<key>label</key>
			<string>hey</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(^o^)丿</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧( ˵ ° ~ ° ˵ )୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>( ˃̆ૢ௰˂̆ૢഃ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>癶(癶✺౪✺ )癶</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>o͡͡͡͡͡͡͡͡͡͡͡͡͡͡╮(^ ਊ ^)╭o͡͡͡͡͡͡͡͡͡͡͡͡͡͡</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ﾉ･ｪ･)ﾉ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(۶ꈨຶꎁꈨຶ )۶ʸᵉᵃʰᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(´ω｀○)ﾉ.+ﾟ*｡:ﾟ+</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ( ★ω★)ノ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(༶ૢ˃̵̑◡˂̵̑༶ૢ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(⁼̴̀ૢ꒳​⁼̴́ૢ๑)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>σ((=ﾟｴﾟ=))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(´°̥̥̥̥̥̥̥̥ω°̥̥̥̥̥̥̥̥｀)</string>
			<key>label</key>
			<string>crying out loud with tears</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヾ(・ω・*)ノ</string>
			<key>label</key>
			<string>hey</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(^o^)丿</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧( ˵ ° ~ ° ˵ )୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>( ˃̆ૢ௰˂̆ૢഃ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>癶(癶✺౪✺ )癶</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>o͡͡͡͡͡͡͡͡͡͡͡͡͡͡╮(^ ਊ ^)╭o͡͡͡͡͡͡͡͡͡͡͡͡͡͡</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ﾉ･ｪ･)ﾉ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(۶ꈨຶꎁꈨຶ )۶ʸᵉᵃʰᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(´ω｀○)ﾉ.+ﾟ*｡:ﾟ+</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ( ★ω★)ノ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(༶ૢ˃̵̑◡˂̵̑༶ૢ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(⁼̴̀ૢ꒳​⁼̴́ૢ๑)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>σ((=ﾟｴﾟ=))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(´°̥̥̥̥̥̥̥̥ω°̥̥̥̥̥̥̥̥｀)</string>
			<key>label</key>
			<string>crying out loud with tears</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヾ(・ω・*)ノ</string>
			<key>label</key>
			<string>hey</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(^o^)丿</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧( ˵ ° ~ ° ˵ )୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>( ˃̆ૢ௰˂̆ૢഃ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>癶(癶✺౪✺ )癶</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>o͡͡͡͡͡͡͡͡͡͡͡͡͡͡╮(^ ਊ ^)╭o͡͡͡͡͡͡͡͡͡͡͡͡͡͡</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ﾉ･ｪ･)ﾉ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(۶ꈨຶꎁꈨຶ )۶ʸᵉᵃʰᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(´ω｀○)ﾉ.+ﾟ*｡:ﾟ+</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ( ★ω★)ノ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(༶ૢ˃̵̑◡˂̵̑༶ૢ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(⁼̴̀ૢ꒳​⁼̴́ૢ๑)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>σ((=ﾟｴﾟ=))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(´°̥̥̥̥̥̥̥̥ω°̥̥̥̥̥̥̥̥｀)</string>
			<key>label</key>
			<string>crying out loud with tears</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヾ(・ω・*)ノ</string>
			<key>label</key>
			<string>hey</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(^o^)丿</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧( ˵ ° ~ ° ˵ )୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>( ˃̆ૢ௰˂̆ૢഃ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>癶(癶✺౪✺ )癶</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>o͡͡͡͡͡͡͡͡͡͡͡͡͡͡╮(^ ਊ ^)╭o͡͡͡͡͡͡͡͡͡͡͡͡͡͡</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ﾉ･ｪ･)ﾉ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(۶ꈨຶꎁꈨຶ )۶ʸᵉᵃʰᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(´ω｀○)ﾉ.+ﾟ*｡:ﾟ+</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ( ★ω★)ノ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(༶ૢ˃̵̑◡˂̵̑༶ૢ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(⁼̴̀ૢ꒳​⁼̴́ૢ๑)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>σ((=ﾟｴﾟ=))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(´°̥̥̥̥̥̥̥̥ω°̥̥̥̥̥̥̥̥｀)</string>
			<key>label</key>
			<string>crying out loud with tears</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヾ(・ω・*)ノ</string>
			<key>label</key>
			<string>hey</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(^o^)丿</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧( ˵ ° ~ ° ˵ )୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>( ˃̆ૢ௰˂̆ૢഃ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>癶(癶✺౪✺ )癶</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>o͡͡͡͡͡͡͡͡͡͡͡͡͡͡╮(^ ਊ ^)╭o͡͡͡͡͡͡͡͡͡͡͡͡͡͡</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ﾉ･ｪ･)ﾉ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(۶ꈨຶꎁꈨຶ )۶ʸᵉᵃʰᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(´ω｀○)ﾉ.+ﾟ*｡:ﾟ+</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ( ★ω★)ノ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(༶ૢ˃̵̑◡˂̵̑༶ૢ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(⁼̴̀ૢ꒳​⁼̴́ૢ๑)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>σ((=ﾟｴﾟ=))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(´°̥̥̥̥̥̥̥̥ω°̥̥̥̥̥̥̥̥｀)</string>
			<key>label</key>
			<string>crying out loud with tears</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヾ(・ω・*)ノ</string>
			<key>label</key>
			<string>hey</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(^o^)丿</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧( ˵ ° ~ ° ˵ )୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>( ˃̆ૢ௰˂̆ૢഃ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>癶(癶✺౪✺ )癶</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>o͡͡͡͡͡͡͡͡͡͡͡͡͡͡╮(^ ਊ ^)╭o͡͡͡͡͡͡͡͡͡͡͡͡͡͡</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ﾉ･ｪ･)ﾉ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(۶ꈨຶꎁꈨຶ )۶ʸᵉᵃʰᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(´ω｀○)ﾉ.+ﾟ*｡:ﾟ+</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ( ★ω★)ノ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(༶ૢ˃̵̑◡˂̵̑༶ૢ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(⁼̴̀ૢ꒳​⁼̴́ૢ๑)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>σ((=ﾟｴﾟ=))</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(´°̥̥̥̥̥̥̥̥ω°̥̥̥̥̥̥̥̥｀)</string>
			<key>label</key>
			<string>crying out loud with tears</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヾ(・ω・*)ノ</string>
			<key>label</key>
			<string>hey</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(^o^)丿</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧( ˵ ° ~ ° ˵ )୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>( ˃̆ૢ௰˂̆ૢഃ )</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>癶(癶✺౪✺ )癶</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>o͡͡͡͡͡͡͡͡͡͡͡͡͡͡╮(^ ਊ ^)╭o͡͡͡͡͡͡͡͡͡͡͡͡͡͡</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ﾉ･ｪ･)ﾉ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(۶ꈨຶꎁꈨຶ )۶ʸᵉᵃʰᵎ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ(´ω｀○)ﾉ.+ﾟ*｡:ﾟ+</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>ヽ( ★ω★)ノ</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>୧| ͡ᵔ ﹏ ͡ᵔ |୨</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(༶ૢ˃̵̑◡˂̵̑༶ૢ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(⁼̴̀ૢ꒳​⁼̴́ૢ๑)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
		</dict>
		<dict>
			<key>emoticon</key>
			<string>σ((=ﾟｴﾟ=))</string>
		</dict>
	</array>
</dict>
</plist>
