<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>sections</key>
	<array>
		<dict>
			<key>title</key>
			<string>Happy</string>
			<key>keywords</key>
			<array>
				<string>happy</string>
				<string>happiness</string>
				<string>yeah</string>
				<string>ok</string>
				<string>smile</string>
				<string>satisfaction</string>
				<string>positive</string>
				<string>laugh</string>
				<string>smiling</string>
				<string>laughing</string>
				<string>glad</string>
				<string>pleasant</string>
			</array>
			<key>items</key>
			<array>
				<dict>
					<key>emoticon</key>
					<string>ヾ(・ω・*)ノ</string>
					<key>label</key>
					<string>hey</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ヽ(^o^)丿</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( ᐛ )و</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(•‾̑⌣‾̑•)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ヾ(^ ^ゞ</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>✌✌(˵¯̴͒ꇴ¯̴͒˵)✌✌</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( ՞ٹ՞)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ヽ(=^･ω･^=)丿</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(⋆ૢʾ ˙̫̮ ʿ⋆ૢ)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(っ˘ڡ˘ς)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(~˘▾˘)~</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>~(‾⌣‾~)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>&lt;!nl!&gt;o͡͡͡͡͡͡͡͡͡͡͡͡͡͡╮(｡❛ᴗ❛｡)╭o͡͡͡͡͡͡͡͡͡͡͡͡͡͡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>_へ__(‾◡◝ )&gt;</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( ͡° ͜ʖ ͡°)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(ノ^∇^)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>（⌒▽⌒ゞ</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>~ヾ(＾∇＾)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>∩(︶▽︶)∩</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ヾ(´▽｀;)ゝ</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>d=(´▽｀)=b</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ɾ⚈▿⚈ɹ</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(・∀・)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>～̎̎٩(⌒͡∀⌒͡⌯̊)̥̊◦</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>【°∀°】</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>=͟͟͞͞( ✌°∀° )☛</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>⊂( ・ ̫・)⊃</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(*′☉.̫☉)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>((ඏ.̫ඏ*))</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(๑★ .̫ ★๑)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>‧⁺◟( ᵒ̴̶̷̥́ ·̫ ᵒ̴̶̷̣̥̀ )</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(^～^)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( ‾ʖ̫‾)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(̂ ˃̥̥̥ ˑ̫ ˂̥̥̥ )̂</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( ᵕ̤ ‧̫̮ ᵕ̤ )</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>⁽͑΅ ˙̫ ῭⁾̉</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(*′☉.̫☉)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(´•.̫ • ⋈)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( ❝̆ ·̫̮ ❝̆ )✧</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>((⚆·̫⚆‧̣̥̇ ))</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(⚭⃚⃙̛·̫⚭⃚⃙̛)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(*ꅔ ˙̫̮ ꅔ*)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( •́ .̫ •̀ )</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>⚈้̤͡ ˌ̫̮ ⚈้̤͡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(*＾v＾*)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(′ʘ⌄ʘ‵)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( ^_^)／</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(^-^*)/</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(=^-ω-^=)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( ﾉ^ω^)ﾉﾟ</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(◐ω◑ )</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ヾ(｡･ω･｡)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>୧( ॑ധ ॑)୨</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>V(=^･ω･^=)v</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>川´･ω･`川</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(*^ω^*)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>（　＾ω＾）</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>✌(‘ω’)✌</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>✌(‘ω’✌)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>٩(ↁωↁ❀)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>˚✧₊⁎( ˘ω˘ )⁎⁺˳✧༚</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(¬‿¬)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( ⋂‿⋂’)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(•‿•)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(•̀ᴗ•́)و ̑̑</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(✿´‿`)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(❀◦‿◦)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(ᅌᴗᅌ* )</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(｡◝‿◜｡)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(๑^ں^๑)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(ෆ ͒•∘̬• ͒)◞</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(ට˓˳̮ට๑)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(๑•͈ᴗ•͈)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(੭ˊ͈ ꒵ˋ͈)੭̸*✧⁺˚</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(⑅˘͈ ᵕ ˘͈ )</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(⚈᷁‿᷇⚈᷁)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( ¨̮ )</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>⁽(◍˃̵͈̑ᴗ˂̵͈̑)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( ･ᴗ･̥̥̥ )&lt;!nl!&gt;</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(≖ ‿ ≖)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(⑅‾̥̥̥̥̥̑⌣‾̥̥̥̥̥̑⑅)&lt;!nl!&gt;</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(⁰ੌ⌣⁰ੌ๑)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(∗ᵕ̴᷄◡ᵕ̴᷅∗)՞</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( ᵘ ᵕ ᵘ ⁎)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>◟(๑•͈ᴗ•͈)◞</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>₍ఠ ͜ఠ₎</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(•‾̑⌣‾̑•)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(∗ᒩ͜∗)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(⋈･◡･)✰</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(⁝̥ꑦᴗꑦ)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>₍•͈ᴗ•͈₎</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(≖ᴗ≖๑)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( °̥̥̥̥̥̥̥̥◡͐°̥̥̥̥̥̥̥̥)&lt;!nl!&gt;</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( ´͈ ◡ `͈ )</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ෆ⃛(ට◡ට⁎)ფ</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>৵( °͜ °৵)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(✿◕ ‿◕ฺ)ノ))。₀: *゜</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( ‾̮‿͂‾̮ ꐦ)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(˘･ᴗ･˘)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(ό‿ὸ)ﾉ</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ヾ|๑　╹　◡　╹　๑|ﾉ</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(((;◔ᴗ◔;)))</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>✩*॰ ( ¨̮ ) ॰*✩</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(*´◡｀​*)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(✿╹◡╹)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(◕ฺ ◡ฺ ◕ฺ)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(o˘◡˘o)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ꉂꉂ ( ˆᴗˆ )</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>╭ (oㅇ‿ o#)ᕗ</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(•_ ͜_•)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(• ̥̆ •)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ヾ(^ ^ゞ</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(o⌒．⌒o)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(ꐦ ´͈ ᗨ `͈ )</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(.=^・ェ・^=)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>（＾⊆＾）</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ヾ（*⌒ヮ⌒*）ゞ</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(ᵒ̴̶̷̤́◞౪◟ ᵒ̴̶̷̤̀ )</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(๑❛ꆚ❛๑)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>（｡◑ヮ◑｡）</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>（ꉺ౪ꉺ）</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ೖ(σ̑˽σ̑)ೖ</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>&lt;(❛ヮ❛✿)&gt;</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( •˓◞•̀ )</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( θོثθོ )</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>〈( ^.^)ノ</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ヾ(＾-＾)ノ</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ヽ(=^･ω･^=)丿</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>⁽⁽◞(꒪ͦᴗ̵̍꒪ͦ=͟͟͞͞ ꒪ͦᴗ̵̍꒪ͦ)◟⁾⁾</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>⸂⸂⸜(രᴗര๑)⸝⸃⸃</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(ง •ૅ౪•᷄)ว</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>₍₍⁽⁽(ી(^‿ゝ^)ʃ)₎₎⁾⁾</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>⌒°(ᴖ◡ᴖ)°⌒</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>୧( “̮ )୨✧</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ﾟ+｡:.ﾟヽ(*´∀`)ﾉﾟ.:｡+ﾟ</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ヾ(○･ω･)ﾉ☆</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>✩◝(◍⌣̎◍)◜✩</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>୧[ ˵ ͡ᵔ ͜ʟ ͡ᵔ ˵ ]୨</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ヽ（◕◡◕❀ฺ ）ノ</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ヽ(^◇^*)/</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>=͟͟͞͞٩(๑☉ᴗ☉)੭ु⁾⁾</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(ღ˘⌣˘ღ)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(ॢ˘⌣˘ ॢ⑅)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ლ(́◉◞౪◟◉‵ლ)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(•ૢꆤ ˙̫̮ ꆤ•ૢ)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( ᵕ́ૢ‧̮ᵕ̀ૢ)‧̊·*</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>⁎⁙꒰⋓(༶∙ .̌ ∙༶ૢ)⋓꒱⁕⁛</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(•́ ॣ·̫ ॣ•̀,)՞</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(ू• ౪•ू )</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(ღ′◡‵)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(*ฅ́˘ฅ̀*)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(❝᷀ੌ ˙̮ ❝᷀ੌॢ●)✧</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ღවꇳවღ</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(•ૢ⚈͒⌄⚈͒•ૢ)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>·◌̊ˈ*(⁰̶̶̷ ˙̮ ⁰̴̷̷๑ॢ॓).°◌̊</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(◖̑◡ॢ◖̑⋆)⁎❀∗</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(⋆ૢʾ ˙̫̮ ʿ⋆ૢ)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(ʃƪ¬‿¬)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(º̩̩́⌣º̩̩̀ʃƪ)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(∩❛ڡ❛∩)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(っ˘ڡ˘ς)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(⁎⁍̴ڡ⁍̴⁎)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(≧ڡ≦*)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(*＾ڡ＾*)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>（〜^ڡ^)〜</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(・ڡ・)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>~(⁰▿⁰)~</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>┌(˘⌣˘)ʃ</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ƪ(˘⌣˘)┐</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>´･ᴗ･`</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>▽・ω・▽</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>⊙ω⊙</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ಥ‿ಥ</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ȏ.̮ȏ</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ʘ‿ʘ</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>✾꒡ .̮ ꒡✾</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>´͈ ᵕ `͈</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>˙ ͜ʟ˙</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>꒡ꆚ꒡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>❝᷀ົ৺❝᷀ົ</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>⋆•̵̑◡͐•̵̑⋆</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>⁞ ᵕ ‿ ᵕ ⁞</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>◉⃝ ˙̫̮ ◉⃝</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(ી(΄◞ิ౪◟ิ‵)ʃ)♥</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(◕ฺ‿◕ฺ✿ฺ)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(ˀ̢⋅⃘‧̮⋅⃘ˁ̡ી˂ᵒ͜͡ᵏᵎ⁾</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Love</string>
			<key>keywords</key>
			<array>
				<string>feel</string>
				<string>date</string>
				<string>hugs</string>
				<string>kiss</string>
				<string>heart</string>
				<string>intimacy</string>
				<string>affinity</string>
				<string>affection</string>
				<string>wedding</string>
				<string>warm</string>
				<string>passion</string>
				<string>i love you</string>
				<string>i like you</string>
				<string>luv</string>
				<string>I heart u</string>
				<string>любовь</string>
				<string>amour</string>
				<string>liebe</string>
				<string>lief</string>
				<string>dashuri</string>
				<string>الحب</string>
				<string>Սեր</string>
				<string>sevgi</string>
				<string>maite</string>
				<string>каханне</string>
				<string>প্রেম</string>
				<string>voljeti</string>
				<string>любов</string>
				<string>estimar</string>
				<string>amour</string>
				<string>amar</string>
				<string>paghigugma</string>
				<string>gugma</string>
				<string>爱</string>
				<string>爱情</string>
				<string>愛</string>
				<string>喜歡</string>
				<string>voljeti</string>
				<string>ljubav</string>
				<string>pasija</string>
				<string>láska</string>
				<string>milý</string>
				<string>miláček</string>
				<string>zlato</string>
				<string>elsker</string>
				<string>kærlighed</string>
				<string>elskov</string>
				<string>liefde</string>
				<string>geliefde</string>
				<string>liefste</string>
				<string>liefje</string>
				<string>lieveling</string>
				<string>minne</string>
				<string>armastus</string>
				<string>armastatu</string>
				<string>kallike</string>
				<string>pag-ibig</string>
				<string>pagmamahal</string>
				<string>mahal</string>
				<string>pagsinta</string>
				<string>rakkaus</string>
				<string>rakas</string>
				<string>rakastettu</string>
				<string>kulta</string>
				<string>lempi</string>
				<string>მიყვარს</string>
				<string>სიყვარული</string>
				<string>Liebe</string>
				<string>Liebling</string>
				<string>αγάπη</string>
				<string>έρωτας</string>
				<string>έρως</string>
				<string>પ્રેમ</string>
				<string>આસક્તિ</string>
				<string>renmen</string>
				<string>ƙauna</string>
				<string>so</string>
				<string>אַהֲבָה</string>
				<string>אַהַב</string>
				<string>אֲהוּבָה</string>
				<string>דוֹדִים</string>
				<string>חִבּוּב</string>
				<string>प्यार</string>
				<string>प्रेम</string>
				<string>प्रीति</string>
				<string>मुहब्बत</string>
				<string>प्रणय</string>
				<string>कामा</string>
				<string>hlub</string>
				<string>szeretet</string>
				<string>szerelem</string>
				<string>elska</string>
				<string>ihunaanya</string>
				<string>n&apos;anya</string>
				<string>cinta</string>
				<string>kasih</string>
				<string>sayang</string>
				<string>grá</string>
				<string>searc</string>
				<string>gean</string>
				<string>amore</string>
				<string>愛</string>
				<string>好き</string>
				<string>恋愛</string>
				<string>tresna</string>
				<string>ಪ್ರಿಯೆ</string>
				<string>ಪ್ರೀತಿ</string>
				<string>махаббат</string>
				<string>រសលាញ់</string>
				<string>사랑</string>
				<string>연애</string>
				<string>ຮັກ</string>
				<string>ປອງຮັກ</string>
				<string>ardor</string>
				<string>caritas</string>
				<string>mīlestība</string>
				<string>mīla</string>
				<string>meilė</string>
				<string>љубов</string>
				<string>fitiavana</string>
				<string>cinta</string>
				<string>സ്നേഹം</string>
				<string>ħabb</string>
				<string>mħabba</string>
				<string>aroha</string>
				<string>प्रेम</string>
				<string>प्रीती</string>
				<string>хайртай</string>
				<string>хайр дурлал</string>
				<string>хайрлах</string>
				<string>ချစ်ခင်</string>
				<string>मायाप्रीति</string>
				<string>प्रेम</string>
				<string>kjærlighet</string>
				<string>elske</string>
				<string>عشق</string>
				<string>محبت</string>
				<string>miłość</string>
				<string>serce</string>
				<string>ukochany</string>
				<string>paixão</string>
				<string>ਪਸੰਦ ਹੈ</string>
				<string>dragoste</string>
				<string>iubire</string>
				<string>dragă</string>
				<string>страсть</string>
				<string>љубав</string>
				<string>rata</string>
				<string>ආදරය</string>
				<string>láska</string>
				<string>záľuba</string>
				<string>obľuba</string>
				<string>milá</string>
				<string>milý</string>
				<string>ľúbiť</string>
				<string>ljubezen</string>
				<string>jecel</string>
				<string>amado</string>
				<string>bogoh</string>
				<string>mpenzi</string>
				<string>kärlek</string>
				<string>förälskelse</string>
				<string>ишщ</string>
				<string>அன்பு</string>
				<string>நேசம்</string>
				<string>ప్రేమ</string>
				<string>romance</string>
				<string>romantic</string>
				<string>รติ</string>
				<string>มโนช</string>
				<string>aşk</string>
				<string>sevgi</string>
				<string>любов</string>
				<string>кохана</string>
				<string>коханий</string>
				<string>кохання</string>
				<string>закоханість</string>
				<string>кохати</string>
				<string>любити</string>
				<string>влюбленість</string>
				<string>پیار</string>
				<string>sevgi</string>
				<string>muhabbat</string>
				<string>yêu</string>
				<string>ái tình</string>
				<string>cariad</string>
				<string>gariad</string>
				<string>chariad</string>
				<string>ליבע</string>
				<string>ifẹ</string>
				<string>uthando</string>
				<string>ukuthanda</string>
				<string>❤️</string>
				<string>💔</string>
				<string>💌</string>
				<string>💕</string>
				<string>💞</string>
				<string>💓</string>
				<string>💗</string>
				<string>💖</string>
				<string>💘</string>
				<string>💝</string>
				<string>💟</string>
				<string>♥️</string>
				<string>😍</string>
				<string>👫</string>
				<string>👬</string>
				<string>👭</string>
				<string>💑</string>
				<string>👩‍❤️‍👩</string>
				<string>👨‍❤️‍👨</string>
				<string>💏</string>
				<string>👩‍❤️‍💋‍👩</string>
				<string>👨‍❤️‍💋‍👨</string>
				<string>👄</string>
				<string>💋</string>
			</array>
			<key>items</key>
			<array>
				<dict>
					<key>emoticon</key>
					<string>(◍•ᴗ•◍)❤</string>
					<key>label</key>
					<string>hey love</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(｡♥‿♥｡)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(♥ω♥ ) ~♪</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(♥ω♥*)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>٩(♡ε♡ )۶</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>໒( ♥ ◡ ♥ )७</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(●♡∀♡))ヾ☆*。</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(灬♥ω♥灬)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>༼♥ل͜♥༽</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(°◡°♡).:｡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>◟(◔ั₀◔ั )◞ ༘♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ʸ(ᴖ́◡ु⚈᷉)♡⃛</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(｡･ω･｡)ﾉ♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>₍₍ ( ๑॔˃̶◡ ˂̶๑॓)◞♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(๑・ω-)～♥”</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>～(^з^)-♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(๑°꒵°๑)･*♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(ෆ ͒•∘̬• ͒)◞</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(♡´͈༝`͈)ฅ˒˒</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(•‾⌣‾•)و ̑̑♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(⁎⁍̴̛͂▿⁍̴̛͂⁎)*✲ﾟ*｡⋆♡ོ</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ღゝ◡╹)ノ♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(∗ᵒ̶̶̷̀ω˂̶́∗)੭₎₎̊₊♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(๑╹ڡ╹)╭ ～ ♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(♡ ὅ ◡ ὅ )ʃ♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(๑ Ỡ ◡͐ Ỡ๑)ﾉ♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(⁎⁍̴̀﹃ ⁍̴́⁎)♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>♡´･ᴗ･`♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>♡〜٩(^▿^)۶〜♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(｡・‧̫・｡).*＊♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(◍•ڡ•◍)❤</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>-ω(´•ω•｀)♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(♡´౪`♡)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>♡〜ლ(๑癶ᴗ癶๑)ლ〜♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( ˊᵕˋ )♡.°⑅</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(´∩｡• ᵕ •｡∩`) ♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(♡ &gt;ω&lt; ♡)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( ๑ ❛ ڡ ❛ ๑ )❤</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(´,,•ω•,,)♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>❤\(⸝⸝⸝°⁻̫° ⸝⸝⸝)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>（〃・ω・〃）</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>❣╰(⸝⸝⸝´꒳`⸝⸝⸝)╯❣</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(⺣◡⺣)♡*</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(灬ºωº灬)♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( ⌯◞◟⌯)♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ヽ(o♡o)/</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>٩(*❛⊰❛)ʓਡ～❤</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>٩(๑ơలơ)۶♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>٩(๑∂▿∂๑)۶♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>\(-ㅂ-)/ ♥ ♥ ♥</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ヾ(◍’౪`◍)ﾉﾞ♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>٩(*ゝڡ◕๑)۶♥</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>╰(✿´⌣`✿)╯♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(´▽`ʃƪ)♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(ღ˘⌣˘ღ)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>（人´∀`*）</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>♥～(‘▽^人)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>꒰⑅ᵕ༚ᵕ꒱˖♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>♡˖꒰ᵕ༚ᵕ⑅꒱</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>&lt;!nl!&gt;(‾̴̴͡͡▿•‾̴̴͡͡ʃƪ)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>´͈ ᵕ `͈ ♡°◌̊</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(*´ ˘ `*).｡oO ( ♡ )</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(人 •͈ᴗ•͈)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(*ˊૢᵕˋૢ*)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>❤⃛῍̻̩✧(´͈ ૢᐜ `͈ૢ)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>♡( ૢ⁼̴̤̆ ꇴ ⁼̴̤̆ ૢ)~ෆ♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>°₊·ˈ∗♡( ˃̶᷇ ‧̫ ˂̶᷆ )♡∗ˈ‧₊°</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( ∩ˇωˇ∩)♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( ˘ ³˘)♥</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>（*＾3＾）/～♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>♡(˃͈ દ ˂͈ ༶ )</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>٩꒰ ˘ ³˘꒱۶~♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ƪ(♥ﻬ♥)ʃ</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(/ ᵒ̴̵̶̷౩ᵒ̴̵̶̷ )/ ᵏᴵˢઽ ❤⃛</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(ˊσ̴̶̷̤ ₋̮̑ σ̴̶̷̤ˋ)₊ෆ⃛⁺˚</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(/^-^(^ ^*)/</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(&gt;^_^)&gt;&lt;(^o^&lt;)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(っ˘з(˘⌣˘ )</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(っ˘з(˘⌣˘ )</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>♡(*´･ω･)(･ω･`*)♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>⁽ ¨̮⁾⁽¨̮ ⁾*˚‧♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ღƪ(ˆ◡ˆ)ʃ♡ƪ(ˆ◡ˆ)ʃ♪</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(◦˘ З(◦’ںˉ◦)♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(⋆◗̑◡◗̑)⸝♡⃛⸜(◖̑◡◖̑⋆)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( ᵕ̤ɜ)ᵕ̤ૢᴗᵕ̤ૢ )</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( ° ᴗ°)~ð (/❛o❛\)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(≚ᄌ≚)ℒℴѵℯ❤</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ฅ ̳͒•ˑ̫• ̳͒ฅ♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ˁ̡̡̡∗⁎⃙ ̫⁎⃙ˀ̡̡̡ ̩˳♡⃝</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>•ू(ᵒ̴̶̷ωᵒ̴̶̷*•ू) ​ )੭ु⁾</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(ી(΄◞ิ౪◟ิ‵)ʃ)♥</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>❤⃛(*ૂ❛ัᴗ❛ั*ૂ)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>❤(ꈍॢ ⁻̫ ꈍॢ)ʸº</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( ﾟ∀ﾟ)ﾉ【LOVE】</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(⑅ ॣ•͈ᴗ•͈ ॣ)∟ᵒᵛᵉ૫૦∪</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>٩(๑•◡-๑)۶ⒽⓤⒼ❤</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>♡ℒฺℴฺνℯฺ♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>꒒ ০ ⌵ ୧ ♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(୨୧•͈ᴗ•͈)◞ᵗʱᵃᵑᵏઽ*♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(ෆ`꒳´ෆ) ˡºᵛᵉ❤⃛</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>✨Lᵒᵛᵉᵧₒᵤ</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(ღˇ◡ˇ)♥ℒᵒᵛᵉᵧₒᵤ♥</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>꒰๑͒•௰•๑͒꒱ℒℴѵℯ❤</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>*.･｡ヾ(◍ᄏᴗ))ﾉﾟ+.β੨ყ♡ β੨ყ+.°</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Excited</string>
			<key>keywords</key>
			<array/>
			<key>items</key>
			<array>
				<dict>
					<key>emoticon</key>
					<string>(ﾉ･ｪ･)ﾉ</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>₍•͟ ͜ • ₎</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( ˃̶ω˂̶ ૃ)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(ؑ⸍⸍ᵕؑ̇⸍⸍)◞✧</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>✮⃛( ◞´•௰•`)✮⃛</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>*＼( *ω*)┓</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>｡.ﾟ+:((ヾ(｡･ω･)ｼ)).:ﾟ+｡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(٭°̧̧̧ω°̧̧̧٭)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(⌬̀⌄⌬́)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(۶* ‘ꆚ’)۶”</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Cocoa developer</string>
			<key>keywords</key>
			<array/>
			<key>items</key>
			<array>
				<dict>
					<key>emoticon</key>
					<string>¯\_( ͡ ༎ ͜ʖ ͡༎ )_/¯</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Crying</string>
			<key>keywords</key>
			<array/>
			<key>items</key>
			<array>
				<dict>
					<key>emoticon</key>
					<string>(´°̥̥̥̥̥̥̥̥ω°̥̥̥̥̥̥̥̥｀)&lt;!nl!&gt;</string>
					<key>label</key>
					<string>crying out loud with tears</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( ˃̆ૢ௰˂̆ૢഃ )</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( ˃̆ૢ௰˂̆ૢഃ )</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>癶(癶✺౪✺ )癶</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>癶(癶✺౪✺ )癶</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
