<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>sections</key>
	<array>
		<dict>
			<key>title</key>
			<string>Happy</string>
			<key>keywords</key>
			<array/>
			<key>items</key>
			<array>
				<dict>
					<key>emoticon</key>
					<string>ヾ(・ω・*)ノ</string>
					<key>label</key>
					<string>hey</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ヽ(^o^)丿</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( ᐛ )و</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(•‾̑⌣‾̑•)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ヾ(^ ^ゞ</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>✌✌(˵¯̴͒ꇴ¯̴͒˵)✌✌</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( ՞ٹ՞)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>ヽ(=^･ω･^=)丿</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(⋆ૢʾ ˙̫̮ ʿ⋆ૢ)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(っ˘ڡ˘ς)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(~˘▾˘)~</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>~(‾⌣‾~)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>&lt;!nl!&gt;o͡͡͡͡͡͡͡͡͡͡͡͡͡͡╮(｡❛ᴗ❛｡)╭o͡͡͡͡͡͡͡͡͡͡͡͡͡͡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>&lt;!nl!&gt;o͡͡͡͡͡͡╮(ꐦ ꈨຶ皿ꈨຶ)╭o͡͡͡͡͡͡</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Love</string>
			<key>keywords</key>
			<array/>
			<key>items</key>
			<array>
				<dict>
					<key>emoticon</key>
					<string>(◍•ᴗ•◍)❤</string>
					<key>label</key>
					<string>hey love</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(♡ &gt;ω&lt; ♡)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(｡・‧̫・｡).*＊♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>（〃・ω・〃）</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>٩(*❛⊰❛)ʓਡ～❤</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>꒰⑅ᵕ༚ᵕ꒱˖♡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(*ˊૢᵕˋૢ*)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>٩(*ゝڡ◕๑)۶♥</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>°₊·ˈ∗♡( ˃̶᷇ ‧̫ ˂̶᷆ )♡∗ˈ‧₊°</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(´⌣`ʃƪ)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( ＾◡＾)っ✂❤</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Excited</string>
			<key>keywords</key>
			<array/>
			<key>items</key>
			<array>
				<dict>
					<key>emoticon</key>
					<string>(ﾉ･ｪ･)ﾉ</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>₍•͟ ͜ • ₎</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( ˃̶ω˂̶ ૃ)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(ؑ⸍⸍ᵕؑ̇⸍⸍)◞✧</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>✮⃛( ◞´•௰•`)✮⃛</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(ٛɲ˃ ˑ̣̮ ˂ٛɳ)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>*＼( *ω*)┓</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>｡.ﾟ+:((ヾ(｡･ω･)ｼ)).:ﾟ+｡</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(٭°̧̧̧ω°̧̧̧٭)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(⌬̀⌄⌬́)</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>(۶* ‘ꆚ’)۶”</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Cocoa developer</string>
			<key>keywords</key>
			<array/>
			<key>items</key>
			<array>
				<dict>
					<key>emoticon</key>
					<string>¯\_( ͡ ༎ ͜ʖ ͡༎ )_/¯</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Crying</string>
			<key>keywords</key>
			<array/>
			<key>items</key>
			<array>
				<dict>
					<key>emoticon</key>
					<string>(´°̥̥̥̥̥̥̥̥ω°̥̥̥̥̥̥̥̥｀)&lt;!nl!&gt;</string>
					<key>label</key>
					<string>crying out loud with tears</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( ˃̆ૢ௰˂̆ૢഃ )</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>( ˃̆ૢ௰˂̆ૢഃ )</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>癶(癶✺౪✺ )癶</string>
				</dict>
				<dict>
					<key>emoticon</key>
					<string>癶(癶✺౪✺ )癶</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
