<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>head scratching</string>
	<string>blank look</string>
	<string>whatafuck</string>
	<string>goofy</string>
	<string>who knows</string>
	<string>oh yeah</string>
</array>
</plist>
